{% extends "base.html" %}
{% block title %}Tasks list{% endblock %}
{% block navbar %}{% include 'navbar.html' %}{% endblock %} 
{% block content %}
    <table class="table table-hover table-striped table-bordered" id="table_tasks">
        <thead>
            <tr>
                <td>ID</td>
                <td>File</td>
                <td>Submitted on</td>
                <td>Owner</td>
                <td>Status</td>
                <td>Hits</td>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}
{% block bottomscripts %}
var table = $('#table_tasks').DataTable({
    "processing": true,
    "serverSide": true,
    "stateSave": true,
    "jQueryUI": true,
    "autoWidth": false,
    "ordering": true,
    "order": [[0, 'desc']],
    "searching": false,
    "pagingType": "full_numbers",
    "pageLength": 25,
    "lengthMenu": [ [25, 50, 100, 200, -1], [25, 50, 100, 200, "All"] ],
    "language":{
        "zeroRecords": "No records found.",
        "lengthMenu": "Display: _MENU_",
        "infoFiltered": "",
        "emptyTable": "Still no tasks here"
    },
    "ajax": function(data, callback, settings) {
        data.limit = data.length;
        data.offset = data.start;
        if (data.order.length > 0){
            var direction = (data.order[0]['dir'] == 'desc' ? '-' : '');
            var column_name = data.columns[data.order[0]['column']]['data'];
            data.order_by = direction + column_name;
        }

        $.ajax({
            url: "{% url "api_dispatch_list" resource_name="task" api_name="v1" %}",
            data: data,
            success: function(innerdata) {
                innerdata.draw = data.draw;
                innerdata.recordsTotal = innerdata.meta.total_count;
                innerdata.recordsFiltered = innerdata.meta.total_count;
                innerdata.data = innerdata.objects;
                $.each(innerdata.data, function(){
                    // Add links to IDs
                    this.id = '<a href="{% url 'main:task' %}' + this.id + '/">' + this.id + '</a>';
                
                    // Parse dates
                    this.submitted_on = new Date(this.submitted_on);
                    
                    // Status to badge
                    switch (this.status){
                        case -1:
                            this.status = '<span id="span_status" class="label label-danger">Failed</span>';
                            break;
                        case 0:
                            this.status = '<span id="span_status" class="label label-info">New</span>';
                            break;
                        case 1:
                            this.status = '<span id="span_status" class="label label-primary">Processing</span>';
                            break;
                        case 2:
                            this.status = '<span id="span_status" class="label label-primary">Queued</span>';
                            break;
                        case 3:
                            this.status = '<span id="span_status" class="label label-success">Completed</span>';
                            break;
                        default:
                            this.status = '<span id="span_status" class="label label-default">Unknown</span>';
                    }

                    // Hits count
                    if (this.results != null){
                        this.results = this.results.length;
                    }
                    else {
                        this.results = 0;
                    }
                });
            },
            dataType: 'json'
        }).done(function (d) {
            callback(d);
        });
    },
    "columns": [
        { "data": "id" },
        { "data": "filename" },
        { "data": "submitted_on" },
        { "data": "user.username" },
        { "data": "status" },
        { "data": "results" }
    ]
});
{% endblock %}
